*.drawio
*.bkp
*.docx
*.tmp
*.pdf
*.pptx
*.zip
vscode/
FAIR/
Resubmission/
Storyboards/
Storyboard/
Versions/
IPCC AR6 scenarios/
Premise scenarios/
edition/
A_matrix_index.csv
A_matrix.csv
B_matrix_index.csv
B_matrix.csv
Tutorial/
.ipynb_checkpoints
.ipynb_checkpoints/
IAM scenarios/
IPCC AR6 dataset/
IEA data/
contraints/
# 3_02_constraints.ipynb
editorial_checklist.ipynb
main.ipynb
main_utils.jl
passkeys.py
# lce/
bookrun.sh
/versionning
other/
.vscode/
Code/Source data
Code/Figures
code/.vscode/
code/export/
*.log
# C extensions
*.DS_Store
*.gitignore
*.so
text.md
LCI.xlsx
storyboards/

# Distribution / packaging
.Python
_build/
__pycache__/
Scenario/
co2.csv
co2.txt
tempe1.csv
temperature_data.txt
temperature.csv
trash/
co2_concentration.svg
h2_emi.xlsx
*.jld
hydrogen_projects.ipynb