*.drawio
*.bkp
*.docx
*.tmp
*.pdf
*.pptx
# 2_00_direct_human_impact.ipynb
# 2_01_global_SOS.ipynb
# 2_02_allocated_space.ipynb
3_01_scenarios.ipynb
3_00_PBLCA.ipynb
3_01_premise.ipynb
3_02_constraints.ipynb
main.ipynb
main_utils.jl

lca.jl
/versionning
code/lce.jl/
code/.vscode/
data/temporary/

# C extensions
*.DS_Store
*.gitignore
*.so
notes.md
LCI.xlsx

# Distribution / packaging
.Python
build/

