*.drawio
*.bkp
*.docx
*.tmp
*.pdf
*.pptx

A_matrix_index.csv
A_matrix.csv
B_matrix_index.csv
B_matrix.csv
# 3_01_premise.ipynb

editorial_checklist.ipynb
main.ipynb
main_utils.jl
passkeys.py
lca.jl
bookrun.sh
/versionning
other/
code/lce.jl/
code/.vscode/
data/temporary/
data/input/Premise/
data/data_planetaryboundaries/
code/export/
*.log
# C extensions
*.DS_Store
*.gitignore
*.so
notes.md
LCI.xlsx
storyboards/

# Distribution / packaging
.Python
_build/
__pycache__/
